Source/Class Library/Apothex.WSDataAccess/Web References/Synchronization/WSSynchronization.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetSyncBranch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="branchID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="modifiedDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="action" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSyncBranchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSyncBranchResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSyncUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="branchID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="modifiedDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="action" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSyncUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSyncUserResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSyncUserPermission">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="branchID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="modifiedDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="action" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSyncUserPermissionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSyncUserPermissionResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSyncMyCompany">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="myCompanyID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="modifiedDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="action" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSyncMyCompanyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSyncMyCompanyResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSyncCurrency">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="currencyCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="modifiedDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="action" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSyncCurrencyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSyncCurrencyResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSyncPaymentMethod">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="paymentMethodID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="modifiedDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="action" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSyncPaymentMethodResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSyncPaymentMethodResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSyncProductLocation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="productLocationID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="productID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="branchID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="modifiedDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="action" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSyncProductLocationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSyncProductLocationResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSyncCardUnitRate">
        <s:complexType />
      </s:element>
      <s:element name="GetSyncCardUnitRateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSyncCardUnitRateResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSyncCardDiscountSchema">
        <s:complexType />
      </s:element>
      <s:element name="GetSyncCardDiscountSchemaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSyncCardDiscountSchemaResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOperationType">
        <s:complexType />
      </s:element>
      <s:element name="GetOperationTypeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetOperationTypeResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInvalidSalesOrderDetail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="b" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInvalidSalesOrderDetailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInvalidSalesOrderDetailResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="objectID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="isOnline" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetDateResult" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Synchronize">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="objectID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="modifiedUserID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="modifiedDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="action" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="isOnline" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="b" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SynchronizeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SynchronizeResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetSyncBranchSoapIn">
    <wsdl:part name="parameters" element="tns:GetSyncBranch" />
  </wsdl:message>
  <wsdl:message name="GetSyncBranchSoapOut">
    <wsdl:part name="parameters" element="tns:GetSyncBranchResponse" />
  </wsdl:message>
  <wsdl:message name="GetSyncUserSoapIn">
    <wsdl:part name="parameters" element="tns:GetSyncUser" />
  </wsdl:message>
  <wsdl:message name="GetSyncUserSoapOut">
    <wsdl:part name="parameters" element="tns:GetSyncUserResponse" />
  </wsdl:message>
  <wsdl:message name="GetSyncUserPermissionSoapIn">
    <wsdl:part name="parameters" element="tns:GetSyncUserPermission" />
  </wsdl:message>
  <wsdl:message name="GetSyncUserPermissionSoapOut">
    <wsdl:part name="parameters" element="tns:GetSyncUserPermissionResponse" />
  </wsdl:message>
  <wsdl:message name="GetSyncMyCompanySoapIn">
    <wsdl:part name="parameters" element="tns:GetSyncMyCompany" />
  </wsdl:message>
  <wsdl:message name="GetSyncMyCompanySoapOut">
    <wsdl:part name="parameters" element="tns:GetSyncMyCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="GetSyncCurrencySoapIn">
    <wsdl:part name="parameters" element="tns:GetSyncCurrency" />
  </wsdl:message>
  <wsdl:message name="GetSyncCurrencySoapOut">
    <wsdl:part name="parameters" element="tns:GetSyncCurrencyResponse" />
  </wsdl:message>
  <wsdl:message name="GetSyncPaymentMethodSoapIn">
    <wsdl:part name="parameters" element="tns:GetSyncPaymentMethod" />
  </wsdl:message>
  <wsdl:message name="GetSyncPaymentMethodSoapOut">
    <wsdl:part name="parameters" element="tns:GetSyncPaymentMethodResponse" />
  </wsdl:message>
  <wsdl:message name="GetSyncProductLocationSoapIn">
    <wsdl:part name="parameters" element="tns:GetSyncProductLocation" />
  </wsdl:message>
  <wsdl:message name="GetSyncProductLocationSoapOut">
    <wsdl:part name="parameters" element="tns:GetSyncProductLocationResponse" />
  </wsdl:message>
  <wsdl:message name="GetSyncCardUnitRateSoapIn">
    <wsdl:part name="parameters" element="tns:GetSyncCardUnitRate" />
  </wsdl:message>
  <wsdl:message name="GetSyncCardUnitRateSoapOut">
    <wsdl:part name="parameters" element="tns:GetSyncCardUnitRateResponse" />
  </wsdl:message>
  <wsdl:message name="GetSyncCardDiscountSchemaSoapIn">
    <wsdl:part name="parameters" element="tns:GetSyncCardDiscountSchema" />
  </wsdl:message>
  <wsdl:message name="GetSyncCardDiscountSchemaSoapOut">
    <wsdl:part name="parameters" element="tns:GetSyncCardDiscountSchemaResponse" />
  </wsdl:message>
  <wsdl:message name="GetOperationTypeSoapIn">
    <wsdl:part name="parameters" element="tns:GetOperationType" />
  </wsdl:message>
  <wsdl:message name="GetOperationTypeSoapOut">
    <wsdl:part name="parameters" element="tns:GetOperationTypeResponse" />
  </wsdl:message>
  <wsdl:message name="GetInvalidSalesOrderDetailSoapIn">
    <wsdl:part name="parameters" element="tns:GetInvalidSalesOrderDetail" />
  </wsdl:message>
  <wsdl:message name="GetInvalidSalesOrderDetailSoapOut">
    <wsdl:part name="parameters" element="tns:GetInvalidSalesOrderDetailResponse" />
  </wsdl:message>
  <wsdl:message name="GetDateSoapIn">
    <wsdl:part name="parameters" element="tns:GetDate" />
  </wsdl:message>
  <wsdl:message name="GetDateSoapOut">
    <wsdl:part name="parameters" element="tns:GetDateResponse" />
  </wsdl:message>
  <wsdl:message name="SynchronizeSoapIn">
    <wsdl:part name="parameters" element="tns:Synchronize" />
  </wsdl:message>
  <wsdl:message name="SynchronizeSoapOut">
    <wsdl:part name="parameters" element="tns:SynchronizeResponse" />
  </wsdl:message>
  <wsdl:portType name="WSSynchronizationSoap">
    <wsdl:operation name="GetSyncBranch">
      <wsdl:input message="tns:GetSyncBranchSoapIn" />
      <wsdl:output message="tns:GetSyncBranchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSyncUser">
      <wsdl:input message="tns:GetSyncUserSoapIn" />
      <wsdl:output message="tns:GetSyncUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSyncUserPermission">
      <wsdl:input message="tns:GetSyncUserPermissionSoapIn" />
      <wsdl:output message="tns:GetSyncUserPermissionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSyncMyCompany">
      <wsdl:input message="tns:GetSyncMyCompanySoapIn" />
      <wsdl:output message="tns:GetSyncMyCompanySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSyncCurrency">
      <wsdl:input message="tns:GetSyncCurrencySoapIn" />
      <wsdl:output message="tns:GetSyncCurrencySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSyncPaymentMethod">
      <wsdl:input message="tns:GetSyncPaymentMethodSoapIn" />
      <wsdl:output message="tns:GetSyncPaymentMethodSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSyncProductLocation">
      <wsdl:input message="tns:GetSyncProductLocationSoapIn" />
      <wsdl:output message="tns:GetSyncProductLocationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSyncCardUnitRate">
      <wsdl:input message="tns:GetSyncCardUnitRateSoapIn" />
      <wsdl:output message="tns:GetSyncCardUnitRateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSyncCardDiscountSchema">
      <wsdl:input message="tns:GetSyncCardDiscountSchemaSoapIn" />
      <wsdl:output message="tns:GetSyncCardDiscountSchemaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetOperationType">
      <wsdl:input message="tns:GetOperationTypeSoapIn" />
      <wsdl:output message="tns:GetOperationTypeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInvalidSalesOrderDetail">
      <wsdl:input message="tns:GetInvalidSalesOrderDetailSoapIn" />
      <wsdl:output message="tns:GetInvalidSalesOrderDetailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDate">
      <wsdl:input message="tns:GetDateSoapIn" />
      <wsdl:output message="tns:GetDateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Synchronize">
      <wsdl:input message="tns:SynchronizeSoapIn" />
      <wsdl:output message="tns:SynchronizeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSSynchronizationSoap" type="tns:WSSynchronizationSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSyncBranch">
      <soap:operation soapAction="http://tempuri.org/GetSyncBranch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSyncUser">
      <soap:operation soapAction="http://tempuri.org/GetSyncUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSyncUserPermission">
      <soap:operation soapAction="http://tempuri.org/GetSyncUserPermission" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSyncMyCompany">
      <soap:operation soapAction="http://tempuri.org/GetSyncMyCompany" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSyncCurrency">
      <soap:operation soapAction="http://tempuri.org/GetSyncCurrency" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSyncPaymentMethod">
      <soap:operation soapAction="http://tempuri.org/GetSyncPaymentMethod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSyncProductLocation">
      <soap:operation soapAction="http://tempuri.org/GetSyncProductLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSyncCardUnitRate">
      <soap:operation soapAction="http://tempuri.org/GetSyncCardUnitRate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSyncCardDiscountSchema">
      <soap:operation soapAction="http://tempuri.org/GetSyncCardDiscountSchema" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOperationType">
      <soap:operation soapAction="http://tempuri.org/GetOperationType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInvalidSalesOrderDetail">
      <soap:operation soapAction="http://tempuri.org/GetInvalidSalesOrderDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDate">
      <soap:operation soapAction="http://tempuri.org/GetDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Synchronize">
      <soap:operation soapAction="http://tempuri.org/Synchronize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSSynchronizationSoap12" type="tns:WSSynchronizationSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSyncBranch">
      <soap12:operation soapAction="http://tempuri.org/GetSyncBranch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSyncUser">
      <soap12:operation soapAction="http://tempuri.org/GetSyncUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSyncUserPermission">
      <soap12:operation soapAction="http://tempuri.org/GetSyncUserPermission" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSyncMyCompany">
      <soap12:operation soapAction="http://tempuri.org/GetSyncMyCompany" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSyncCurrency">
      <soap12:operation soapAction="http://tempuri.org/GetSyncCurrency" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSyncPaymentMethod">
      <soap12:operation soapAction="http://tempuri.org/GetSyncPaymentMethod" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSyncProductLocation">
      <soap12:operation soapAction="http://tempuri.org/GetSyncProductLocation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSyncCardUnitRate">
      <soap12:operation soapAction="http://tempuri.org/GetSyncCardUnitRate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSyncCardDiscountSchema">
      <soap12:operation soapAction="http://tempuri.org/GetSyncCardDiscountSchema" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOperationType">
      <soap12:operation soapAction="http://tempuri.org/GetOperationType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInvalidSalesOrderDetail">
      <soap12:operation soapAction="http://tempuri.org/GetInvalidSalesOrderDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDate">
      <soap12:operation soapAction="http://tempuri.org/GetDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Synchronize">
      <soap12:operation soapAction="http://tempuri.org/Synchronize" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSSynchronization">
    <wsdl:port name="WSSynchronizationSoap" binding="tns:WSSynchronizationSoap">
      <soap:address location="http://localhost:8086/WSSynchronization.asmx" />
    </wsdl:port>
    <wsdl:port name="WSSynchronizationSoap12" binding="tns:WSSynchronizationSoap12">
      <soap12:address location="http://localhost:8086/WSSynchronization.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>